%h1 Listing options

%table
  %tr.header
    %th Option
    %th

  - @options.each do |option|
    %tr{:class => cycle('odd', 'even')} 
      %td= link_to option.to_s, asset_option_path(@asset, option)
      %td
        = link_to 'Edit', edit_asset_option_path(@asset, option)
        |
        = link_to 'Destroy', [@asset, option], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Option', new_asset_option_path
